@media (min-width: 768px) {
    .content-display {
        position: static;
        width: auto;
        transition: none;
    }
    .content-display:hover {
        background-color: none; 
        color: none; 
    }   
    
 }
 @media (max-width: 768px) {
    .slider-content {
        width: calc(600%);
        animation: slide-left 14s linear infinite; /* Adjust animation speed for smaller screens */
    }
    .slider-item {
        width: calc(100% / 25); /* Display two items at a time */
        padding: 10px;
    }
    .slider-item img {
        border-radius: 10px;
    }
    .slider-content:hover {
        animation-play-state: running;
    }
    .whatsapp-btn {
        position: fixed;
        right: 10px;
    }
    .back-to-top {
        position: fixed;
        right: 10px;
    }
    .back-to-top i {
        position: fixed;
        right: 25px;
        bottom: 60px;
        z-index: 99;
    }
}